header{
    width: 1440px;
}
.logo1{
    width: 46px;
    height: 46px;
    margin-left: 130px;
    margin-top: 38px;
    vertical-align: middle;
}
h2{
    display:inline-block;
    vertical-align: middle;
  margin-left: 15px;
  margin-top: 40px;
    size: 26px;
    font-family: Poppins;


}

.li1{
    display: inline-block;
    margin-top: 42px;  
    margin-left: 280px;
    vertical-align: middle;
    font-family: Nerko One;
    color: #6D6D6D;
}
.li2{
    display: inline-block;
    margin-top: 42px;
    margin-left: 55px;
    margin-right: 47px;
    vertical-align: middle;
    font-family: Nerko One;
    color: #6D6D6D;
}
.li3{
    display: inline-block;
    margin-top: 42px;
    vertical-align: middle;
    font-family: Nerko One;
    color: #6D6D6D;

}
.li4{
   display: inline-block;
   vertical-align: middle;
   margin-left: 253px;
   margin-top: 42px;
   background-color: #2A9D8F;
   width: 155px;
   height: 46px;
   padding-top: 12px;
   padding-left: 35px;
   font-family: Nerko One;
    color: white
}
.nav1{
    display: inline-block;
    margin-left: 130px;
}
.img1{
    margin-left: 130px;
    margin-top: 80px;
    width: 600px;
    height: 560px;
    vertical-align: top;
}
.nav2{
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
}
.li5{
    margin-left: 100px;
    margin-top: 80px;
    display: inline-block;
}
.li6{
display: inline-block;
}

.ppp{
    width: 480px;
    height: 325px;
    margin-top: 33px;
    font-family:  Poppins;
    font-style: italic;
    color: #515151;
    

}
.divo{
    display: inline-block;
    margin-top: 80px;
    margin-left: 30px;
}
section{
    background-color: #C2F3EE;
    height: 720px;
    width: 1440px;
    margin-top: 20px;
}
h3{
    font-family:  Poppins;
    color: #272727;
    font-size: 32px;
    width: 480px;
    height: 90px;
}
article{
    width: 1440px;
    height: 835px;
}
h4{
    padding-left: 514px;
    padding-top: 200px;
    font-family:  Poppins;
    font-size: 48px;
    color: #4D4D4D;
}
.logo2{
   padding-left: 330px;
   padding-top: 60px;
   vertical-align: top;
}
.pp5{
    width: 640px;
    height: 120px;
    display: inline-block;
    padding-left: 32px;
    padding-top: 62px;
    vertical-align: top;
    font-size: 20px;
    font-family: Nerko One;
    color: #656565;
}
.pp6{
    
    height: 170px;
    width: 1000px;
   font-size: 20px;
    padding-left: 330px;
    padding-top: 20px;
    font-family: Nerko One;
    color: #656565;
}